
@model MobileAheresisAdmin.Models.Appointment.AppointmentModel
@{
    ViewData["Title"] = "Edit";
}



@* 27/09/19 aakansha *@
@{if (TempData["title"] != null)
    {


        <div class="toast"
             data-title=@TempData["title"].ToString()
             data-message='@TempData["message"].ToString()'
             data-type=@TempData["type"]>
        </div>


    }

    TempData["title"] = null;
    TempData["message"] = null;
    TempData["type"] = null;
}

<!-- 20/09/19 aakansha-->
<form id="formid" asp-controller="Appointment" asp-action="Create" method="post" >

    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        // Bootstrap 2 = "alert-error", Bootstrap 3 and 4 = "alert-danger"
        <div asp-validation-summary="All" class="alert alert-danger alert-error">
            <a class="close" data-dismiss="alert">&times;</a>
        </div>
    }


    <div class="container-fluid ">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-6">
                    <ol class="breadcrumb mt-2">
                        <li class="breadcrumb-item">
                            <a href="~/Home/Index">Dashboard</a>
                        </li>

                        <li class="breadcrumb-item active"> Edit Appointment</li>

                    </ol>
                </div>
                <div class="col-md-6 text-right">                  

                    <button type="submit" name="save" class="btn btn-primary btn-sm mt-2 ">
                        <i class="icon-save mr-2"></i>
                        Save
                    </button>
                             


                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-12">


                <div class="card bg-white mb-3 font-weight-bold">

                    <div class="card-body">


                        <!--Customer Details -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <label class="text-right text-darkenGray">Patient Name</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input asp-for="PatientName" class="form-control s-12" type="text">
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-1">


                                    <div class="col-md-5 text-right">
                                        <label class="text-right text-darkenGray">MR</label>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input asp-for="MR" class="form-control s-12" type="text">
                                            
                                        </div>
                                    </div>




                                </div>

                                <div class="row  mt-1">


                                    <div class="col-md-5 text-right">
                                        <label class="text-darkenGray">Hospital</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <select class="select2" asp-for="HospitalId" asp-items="Model.AvailableHospitals" type="text"></select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5 text-right">

                                        <label class="text-darkenGray ">Appointment Date</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input type="text" id="datetime" asp-for="AppointmentDate" value="@Model.AppointmentDate.ToString("MM/dd/yyyy")" class="date-time-picker form-control s-12"
                                                   data-options='{"timepicker":false, "format":"m/d/Y"}' required autocomplete="off">

                                            <span class="input-group-append">
                                                <span class="input-group-text add-on white">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-5 text-right mt-2">
                                        <button id="btnAddDateRow" class="btn btn-sm btn-primary" type="button" name="btnAddDateRow"><i class="icon-plus mr-2"></i> Add Dates</button>
                                    </div>
                                    <div class="col-md-7">
                                        <table id="tblListFieldData" class="table table-sm table-light table-bordered table-hover mt-2">
                                            <thead class="bg-light text-black">
                                                <tr>

                                                    <th width="90%">Appointment Date</th>
                                                    <th width="10%"></th>
                                                </tr>
                                            </thead>

                                            <tbody id="divListFieldRows">
                                                @{
                                                    if (Model._appointmentDates != null)
                                                    {
                                                        int i = 0;

                                                        @foreach (var item in Model._appointmentDates)
                                                        {
                                                <tr id="Row_@i" class='clickable'>
                                                    @Html.HiddenFor(o => o.Id, new { @id = "appointmentId_" + i, @name = "appointmentId" })

                                                    <td class="s-12">
                                                        <input name="RowId" id="RowId_@i"  value=" @i " hidden />
                                                        <input name="AppointmentDatesId" id="AppointmentDatesId_@i" value="@item.Id" hidden />
                                                        <input name='AppointmentDates' id="AppointmentDates_@i"hidden />  @item.AppointmentDates.ToShortDateString()
                                                    </td>
                                                    <td class="text-center">

                                                        <a data-target="#DeleteModal" data-toggle="modal" onclick="ShowDeleteConfirmationWithResponse('PostDeleteAppointmentDate(@i,@Model.Id)')"><i class="icon-cancel s-14 text-red ml-2 handCursor"></i></a>
                                                    </td>
                                                </tr>
                                                            i++;
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <tr class="text-center">
                                                            <td colspan="8">No data available</td>
                                                        </tr>
                                                    }
                                                }





                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</form>







<script src="~/assets/CustomJs/AppointmentDates.js"></script>
<script src="~/assets/lib/jquery-1.10.2.js"></script>
<script type="text/javascript">
    //add products to product table
    $("#btnAddDateRow").click(function () {
        var AppointmentDateData = document.getElementById("datetime").value;

        //var List = JSON.parse(AppointmentDateData);
        //this function is in Pickup.js file for adding products
        AddRowsToAppointmentDates(AppointmentDateData, @Model.Id);
    })


</script>


