@model IEnumerable<CRM.Core.Domain.CompanyProfiles.PolicyAndProcedure>
@* 26/09/19 aakansha *@
@{if (TempData["title"] != null)
    {


        <div class="toast"
             data-title=@TempData["title"].ToString()
             data-message='@TempData["message"].ToString()'
             data-type=@TempData["type"]>
        </div>


    }

    TempData["title"] = null;
    TempData["message"] = null;
    TempData["type"] = null;
}

<table id="ReportTable" class="table table-sm table-light  table-bordered table-hover data-tables "
       data-options='{"searching":false}' >
    <thead class="bg-light text-black">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPolicy)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPolicy)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
