@model MobileAheresisAdmin.Models.Equipments.EquipmentListModel

@using MobileAheresisAdmin.Utils;
@{
    ViewData["Title"] = "List";

}

@{if (TempData["title"] != null)
    {
        <div class="toast"
             data-title=@TempData["title"].ToString()
             data-message='@TempData["message"].ToString()'
             data-type=@TempData["type"]>
        </div>
    }

    TempData["title"] = null;
    TempData["message"] = null;
    TempData["type"] = null;
}

<script src="~/assets/js/jquery-3.2.1.min.js"></script>

<script src="~/assets/js/jquery.unobtrusive-ajax.js"></script>

<div class="row">

    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">List</li>

        </ol>
    </div>


</div>

<form asp-controller="Equipment" asp-action="Index" method="post" id="ListForm">

    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <div class="card no-b">
                    <div class="card-body">

                        <table id="ReportTable" class="table table-sm table-light  table-bordered  table-condensed table-hover dataTables_paginate  ">
                            <thead class="bg-light text-black">
                                <tr>
                                    @*<th class="sorting_asc_disabled sorting_desc_disabled" width="3%">

        </th>*@

                                    <th class="text-left" width="25%">SerialNo</th>
                                    <th class="text-left" width="65%">Machine Name</th>

                                    <th class="sorting_asc_disabled sorting_desc_disabled" width="10%"></th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.List.Results != null)
                                    {
                                        //To make unique Id
                                        int i = 0;
                                        @foreach (var item in Model.List.Results)
                                        {
                                <tr>
                                    @Html.HiddenFor(o => o.List.Results[i].Id)
                                    @Html.HiddenFor(modelItem => item.Id)
                                  
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SerialNo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.MachineName)
                                    </td>

                                    <td class="text-center">
                                        <a href="/Equipment/Create/@item.Id" onclick="showloaderfn()"><i class="icon-edit lblue-text  handCursor"></i></a>
                                        <a data-target="#DeleteModal" data-toggle="modal" onclick="ShowDeleteConfirmationWithResponse('PostDeleteEquipment(@item.Id)')"><i class="icon-trash text-red ml-2 handCursor"></i></a>
                                    </td>
                                </tr>
                                            i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr class="text-center">
                                            <td colspan="8">No data available</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        @(await Component.InvokeAsync<PagerViewComponent>(Model.List))
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>

<a href="/Equipment/Create" onclick="showloaderfn()" class="btn-fab btn-fab-md fab-right fab-right-bottom-fixed shadow btn-primary"><i class="icon-add"></i></a>
